{% load pufsim_util %}
{% comment %}
CRUD frame displays a model and provides CRUD operations.

  Required Params:
   - model
{% endcomment %}
<div class="row">
  <div class="column small-8">
    <h2>{{ model|getmeta:'verbose_name_plural' }}</h2>
    <h6><small style="color: black;">{{ model|get_attr:'__doc__' }}</small></h6>
  </div>
  <div class="column small-4">
    <ul class="menu simple align-right">
      <li><a href="/{{ model.get_uri_name }}/create"><i class="fi-plus pufsim-green"></i> <strong>Create</strong></a></li>
    </ul>
  </div>
</div>
<div class="row table-scroll">
  <table>
    <thead>
      <tr>
        {% for f in model.get_display_fields %}
          <th>{{ f.verbose_name|default_if_none:'' }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for o in objects %}
        <tr>
          {% for f in model.get_display_fields %}
            <td>{{ o|get_attr:f.name|default_if_none:'' }}</td>
          {% endfor %}
          <td>
            <ul class="text-bold menu simple align-right">
              {% for action in o.get_actions %}
                <li><a title="{{ action }}" href="/{{ model.get_uri_name }}/{{ o.id }}/{{ action }}"><strong>{{ action|title }}</strong></a></li>
              {% endfor %}
              <li><a title="update" href="/{{ model.get_uri_name }}/{{ o.id }}/update"><strong>Update</strong></a></li>
              <li><a title="delete" href="/{{ model.get_uri_name }}/{{ o.id }}/delete"><strong>Delete</strong></a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
